doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        title Koutochi - Website giành cho FA
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='/love/style.css', rel='stylesheet', type='text/css')
        script(src='/love/js/jquery-1.3.2.min.js', type='text/javascript')
    body#page1
        .tail-top
            .tail-bottom
                // HEADER
                #header
                    ul.site-nav
                        li
                            a(href='/love') Danh sách

                        li
                            a(href='articles.html') Danh sách
                        li.last
                            a(href='contact-us.html') Liên hệ
                    .nav-list
                        ul
                            li
                                a(href='#')
                                    img(src='images/pic1.gif', alt='')
                            li.last
                                a(href='#')
                                    img(src='images/pic2.gif', alt='')
                    .logo
                        a(href='#')
                            img(src='images/logo.gif', alt='')
                // CONTENT
                #content
                    .indent
                        .wrapper
                            .col-1
                                .box
                                    .top
                                        .bot
                                            .inner
                                                h3 Danh sách
                                                ul.list
                                                    li
                                                        a(href='#') Tỏ tình
                                                    li
                                                        a(href='#') Thổ lộ
                                                    li
                                                        a(href='#') Tán crush
                                                    li
                                                        a(href='#') Tặng vợ con
                                                    li
                                                        a(href='#') Tặng mẹ
                                                    li
                                                        a(href='#') Tặng bố
                                                    li
                                                        a(href='#') Tặng anh chị
                                                    li
                                                        a(href='#') Đặt hàng thêm
                                .box1
                                    .top
                                        .bot
                                            .inner
                                                h3 Xịn nhất
                                                .img-box
                                                    a(href='/love/crush')
                                                        img(src='/love/images/extra-img.jpg', alt='')
                                                        span
                                                            | Troll crush
                                                            b $200
                            .col-2
                                .indent1
                                    h2
                                        | Bạn muốn thể hiện tình cảm với ai đó ?
                                        b  Sweetheart mine <br/>
                                        | Điều đó bây giờ thật đơn giản <br/>
                                        strong Bạn hãy tự trải nghiệm nhé

                                .box3
                                    .top
                                        .bot
                                            .inner
                                                h3 Hot nhất
                                                ul.list2
                                                    li
                                                        img(src='images/icon1.gif', alt='')
                                                        b
                                                            a(href='#') Tặng ngày valentine
                                                        |  Tặng crush vào ngày 14/2 là nhất
                                                    li
                                                        img(src='/love/images/icon2.gif', alt='')
                                                        b
                                                            a(href='#') Tặng crush ngày 20/10
                                                        |  Tặng crush vào ngày 20/10 là nhất
                                                    li
                                                        img(src='/love/images/icon3.gif', alt='')
                                                        b
                                                            a(href='#') The Best Presents
                                                        |  Tặng crush vào ngày 20/10 là nhất

                            .col-3
                                .form-box
                                    .top
                                        .bot
                                            .inner
                                                h3 Tìm kiếm
                                                form#form(action='#', method='post')
                                                    .form
                                                        input(type='text')
                                                        a(href='#')
                                                            img(src='/love/images/button-search.gif', alt='')
                                                    p Theo dõi chúng tôi trên facebook
                                .box2
                                    .top
                                        .bot
                                            .inner
                                                h3 Mới nhất
                                                ul.list1
                                                    li
                                                        b
                                                            a(href='#') Tặng gấu ngày 20/10
                                                    li
                                                        b
                                                            a(href='#') Tặng crush ngày đặc biệt
                                                    li
                                                        b
                                                            a(href='#') Tỏ tình ngày thường
                                                    li
                                                        b
                                                            a(href='#') Tỏ tình vào sinh nhật gấu
                                                    li
                                                        b
                                                            a(href='#') Tỏ tình vào sinh nhật crush
                // FOOTER
                #footer
                    p
                        | Copyright - Phạm Văn Dũng  -

                        a(href='https://www.facebook.com/funvler') Follow me
        script(type='text/javascript').
//            Cufon.now();
