doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Tìm lại giấy tờ
        link(href='/front-end/dists/css/bootstrap.min.css', rel='stylesheet')
        link(href='/front-end/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/front-end/css/carousel.css', rel='stylesheet')
        link(href='/front-end/css/main.css', rel='stylesheet')
        block header_css
    body
        include ./includes/header

        block content

        include ./includes/footer
        script(src='/front-end/dists/js/jquery-1.11.3.min.js', type='text/javascript')
        script(src='/front-end/vendor/js/popper.min.js')
        script(src='/front-end/dists/js/bootstrap.min.js', type='text/javascript')
        script(src='/front-end/vendor/js/holder.min.js  ')
        block footer_js
