doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Carousel Template for Bootstrap
        // Bootstrap core CSS
        link(href='/front-end/dists/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/front-end/css/carousel.css', rel='stylesheet')
        link(href='/front-end/css/main.css', rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    body
        include ./includes/header
        #myCarousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    img.first-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
                    .container
                        .carousel-caption.d-none.d-md-block.text-left
                            h1 Bạn muốn mau chóng tìm lại giấy tờ
                            p
                                | Chúng tôi có dịch vụ chạy quảng cáo để bạn có thể mau chóng tìm lại giấy tờ
                            p
                                a.btn.btn-lg.btn-primary(href='#', role='button') Liên hệ ngay
                .carousel-item
                    img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
                    .container
                        .carousel-caption.d-none.d-md-block
                            h1 Bạn bị mất giấy tờ ?
                            p
                                | Mất giấy tờ có thể đăng ký tại đây ngay
                            p
                                a.btn.btn-lg.btn-primary(href='#', role='button') Đăng tin ngay
                .carousel-item
                    img.third-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
                    .container
                        .carousel-caption.d-none.d-md-block.text-right
                            h1 Bạn nhặt được giấy tờ mà và muốn trả lại cho chủ nhân ?
                            p
                                | Tìm Chủ Sở Hữu "việc nhỏ phúc lớn". Miễn phí và sẽ luôn mãi là như vậy.
                            p
                                a.btn.btn-lg.btn-primary(href='#', role='button') Đăng tin ngay
            a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
        //
          Marketing messaging and featurettes
          ==================================================
        // Wrap the rest of the page in another container to center all the content.
        .container.marketing
            // Three columns of text below the carousel
            .row
                .col-lg-4
                    img.rounded-circle(src='/images/support-1.jpg', alt='Generic placeholder image', width='140', height='140')
                    h2 Heading
                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                    p
                        a.btn.btn-secondary(href='#', role='button') View details »
                // /.col-lg-4
                .col-lg-4
                    img.rounded-circle(src='/images/support-2.jpg', alt='Generic placeholder image', width='140', height='140')
                    h2 Heading
                    p
                        | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                    p
                        a.btn.btn-secondary(href='#', role='button') View details »
                // /.col-lg-4
                .col-lg-4
                    img.rounded-circle(src='/images/support-3.jpg', alt='Generic placeholder image', width='140', height='140')
                    h2 Heading
                    p
                        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    p
                        a.btn.btn-secondary(href='#', role='button') View details »
                // /.col-lg-4
            // /.row
            // START THE FEATURETTES
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | First featurette heading.
                        span.text-muted It'll blow your mind.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                .col-md-5
                    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
            hr.featurette-divider
            .row.featurette
                .col-md-7.order-md-2
                    h2.featurette-heading
                        | Oh yeah, it's that good.
                        span.text-muted See for yourself.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                .col-md-5.order-md-1
                    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | And lastly, this one.
                        span.text-muted Checkmate.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                .col-md-5
                    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
            hr.featurette-divider
            // /END THE FEATURETTES
            // FOOTER
            footer
                p.float-right
                    a(href='#') Back to top
                p
                    | © 2017 Company, Inc. ·
                    a(href='#') Privacy
                    |  ·
                    a(href='#') Terms
        // /.container
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script.
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
        script(src='/front-end/vendor/js/popper.min.js')
        script(src='/front-end/dists/js/bootstrap.min.js')
        // Just to make our placeholder images work. Don't actually copy the next line!
        script(src='/front-end/vendor/js/holder.min.js')
