extend main.pug

block header_css
    <link href="/backend/css/pages/form2.css" rel="stylesheet" />
    <link href="/backend/css/pages/form3.css" rel="stylesheet" />
    <link href="/backend/vendors/jasny-bootstrap/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="/backend/vendors/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet" />
    <link href="/backend/vendors/validation/css/bootstrapValidator.min.css" rel="stylesheet" />
block content
    .col-md-12
        block sub_content

block footer_js
    <script src="/backend/vendors/jasny-bootstrap/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="/backend/vendors/validation/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <script src="/backend/vendors/intl-tel-input/build/js/intlTelInput.min.js" type="text/javascript"></script>
    <script src="/backend/js/pages/validation.js" type="text/javascript"></script>