extends main

block header_css
    <link href="/backend/css/pages/tables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/ColReorder/css/colReorder.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/Scroller/css/scroller.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/RowReorder/css/rowReorder.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/TableTools/css/dataTables.tableTools.min.css"/>
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/Responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/backend/vendors/datatables/extensions/bootstrap/dataTables.bootstrap.css" />
    block sub_header_css

block footer_js
    <script type="text/javascript" src="/backend/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/RowReorder/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="/backend/vendors/datatables/extensions/bootstrap/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/backend/js/pages/table-advanced.js"></script>