extend ../layouts/main.pug

block header_css
    <link href="/backend/css/pages/tables.css" rel="stylesheet" type="text/css" />

block content
    .col-md-12
        // BEGIN SAMPLE TABLE PORTLET
        .portlet.box.primary
            .portlet-title
                .caption
                    i.livicon(data-name='camera-alt', data-size='16', data-loop='true', data-c='#fff', data-hc='white')
                    |                                     Simple Table
            .portlet-body
                .table-scrollable
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th First Name
                                th Last Name
                                th Username
                                th Status
                        tbody
                            tr
                                td 1
                                td Airi Satou
                                td Kelly
                                td Satou124
                                td
                                    span.label.label-sm.label-success Approved
                            tr
                                td 2
                                td Angelica
                                td Ramos
                                td Angelica343
                                td
                                    span.label.label-sm.label-info Pending
                            tr
                                td 3
                                td Ashton
                                td Cox
                                td Cox111
                                td
                                    span.label.label-sm.label-warning Suspended
                            tr
                                td 4
                                td Bradley
                                td Greer
                                td Bradley
                                td
                                    span.label.label-sm.label-danger Blocked
        // END SAMPLE TABLE PORTLET
