.row.text-center.home-search-form
    .form-group.col-md-3
        input.form-control.form-input-search(placeholder='Nhập từ khoá ...')
    .form-group.col-md-3
        select.select2.form-control
            option Chọn tỉnh thành
            option Ha Noi
            option Tp HCM
            option Ha Noi
    .form-group.col-md-3
        select.select2.form-control
            option Chọn loại danh mục
            option Giấy tờ bị mất
            option Ha Noi
    .form-group.col-md-3
        button.btn.btn-primary.form-input-search Tìm kiếm
