.row
    .col-lg-4
        img.rounded-circle(src='/images/support-1.jpg', alt='Nguyễn Thị Lanh', width='140', height='140')
        p.info-contact
            i.fa.fa-user
                span  Nguyễn Thị Lanh
            br
            i.fa.fa-phone
                span  0971392388
            br
            i.fa.fa-envelope-o
                span  lanhvt88@gmail.com
        p
            a.btn.btn-secondary(href='#', role='button') Liên hệ »
    // /.col-lg-4
    .col-lg-4
        img.rounded-circle(src='/images/support-2.jpg', alt='Generic placeholder image', width='140', height='140')

        p.info-contact
            i.fa.fa-user
                span  Nguyễn Thị Giang
            br
            i.fa.fa-phone
                span  0979876203
            br
            i.fa.fa-envelope-o
                span  lanhvt88@gmail.com
        p
            a.btn.btn-secondary(href='#', role='button') Liên hệ »
    // /.col-lg-4
    .col-lg-4
        img.rounded-circle(src='/images/support-3.jpg', alt='Generic placeholder image', width='140', height='140')
        p.info-contact
            i.fa.fa-user
                span  Nguyễn Thị Giang
            br
            i.fa.fa-phone
                span  0979876203
            br
            i.fa.fa-envelope-o
                span  lanhvt88@gmail.com
        p
            a.btn.btn-secondary(href='#', role='button') Liên hệ »
