header.header
    a.logo(href='/admin/dashboard', style="color: #fff;")
        h2 Callback
    nav.navbar.navbar-static-top(role='navigation')
        // Sidebar toggle button
        div
            a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
                .responsive_nav
        .navbar-right
            ul.nav.navbar-nav


                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        .riot
                            div
                                span= auth.firstName + ' ' + auth.lastName
                                span
                                    i.caret
                    ul.dropdown-menu
                        // Menu Footer
                        li.user-footer
                            .pull-left
                                a(href='/admin/lock')
                                    i.livicon(data-name='lock', data-s='18')
                                    |                                         Lock
                            .pull-right
                                a(href='/admin/logout')
                                    i.livicon(data-name='sign-out', data-s='18')
                                    |                                         Logout