section.sidebar
    .page-sidebar.sidebar-nav
        // BEGIN SIDEBAR MENU
        ul#menu.page-sidebar-menu
            li
                a(href='index.html')
                    i.livicon(data-name='home', data-size='18', data-c='#418BCA', data-hc='#418BCA', data-loop='true')
                    span.title Dashboard
            li
                a(href='#')
                    i.livicon(data-name='brush', data-c='#F89A14', data-hc='#F89A14', data-size='18', data-loop='true')
                    span.title Bài viết
                    span.fa.arrow
                ul.sub-menu
                    li
                        a(href='notifications.html')
                            i.fa.fa-angle-double-right
                            |                                         Danh sách
                    li
                        a(href='session_timeout.html')
                            i.fa.fa-angle-double-right
                            |                                         Tạo mới

            li
                a(href='#')
                    i.livicon(data-name='barchart', data-size='18', data-c='#00bc8c', data-hc='#00bc8c', data-loop='true')
                    span.title Thống kê
                    span.fa.arrow
                ul.sub-menu
                    li
                        a(href='charts.html')
                            i.fa.fa-angle-double-right
                            |                                         Theo địa điểm
                    li
                        a(href='piecharts.html')
                            i.fa.fa-angle-double-right
                            |                                         Theo ngày
                    li
                        a(href='charts_animation.html')
                            i.fa.fa-angle-double-right
                            |                                         Loại giấy tờ

            li
                a(href='tasks.html')
                    i.livicon(data-c='#EF6F6C', data-hc='#EF6F6C', data-name='mail', data-size='18', data-loop='true')
                    span.badge.badge-danger 10
                    |                                 Email

            li
                a(href='#')
                    i.livicon(data-name='users', data-size='18', data-c='#00bc8c', data-hc='#00bc8c', data-loop='true')
                    span.title Quản trị viên
                    span.fa.arrow
                ul.sub-menu
                    li
                        a(href='users.html')
                            i.fa.fa-angle-double-right
                            |                                         Users
                    li
                        a(href='adduser.html')
                            i.fa.fa-angle-double-right
                            |                                         Add New User
                    li
                        a(href='view_user.html')
                            i.fa.fa-angle-double-right
                            |                                         View User
                    li
                        a(href='deleted_users.html')
                            i.fa.fa-angle-double-right
                            |                                         Deleted Users

            li
                a(href='#')
                    i.livicon(data-name='comment', data-c='#F89A14', data-hc='#F89A14', data-size='18', data-loop='true')
                    span.title Bình luận
                    span.badge.badge-warning 10

            li
                a(href='#')
                    i.livicon(data-name='flag', data-c='#418bca', data-hc='#418bca', data-size='18', data-loop='true')
                    span.title Trang con
                    span.fa.arrow
                ul.sub-menu
                    li
                        a(href='lockscreen.html')
                            i.fa.fa-angle-double-right
                            |                                         Danh sách
                    li
                        a(href='lockscreen.html')
                            i.fa.fa-angle-double-right
                            |                                         Tạo mới
            li
                a(href='#')
                    i.livicon(data-name='lab', data-c='#EF6F6C', data-hc='#EF6F6C', data-size='18', data-loop='true')
                    span.title Quyền
                    span.fa.arrow
                ul.sub-menu
                    li
                        a(href='/admin/permission')
                            i.fa.fa-angle-double-right
                            |                                         Danh sách
                    li
                        a(href='/admin/permission/create')
                            i.fa.fa-angle-double-right
                            |                                         Tạo mới

        // END SIDEBAR MENU