extends ../layouts/main

block content
    include ./partials/carousel
    .container.marketing
        include ./partials/search
        //include ./partials/support
        hr.featurette-divider
        include ./partials/main_content
            //hr.featurette-divider

