nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.main-menu
    div.container
        a.navbar-brand(href='#')
            img(src="/images/logo.png", style="max-width: 160px;")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.nav-menu.active
                    a.nav-link.nav-menu-link(href='#')
                        | Trang chủ
                        span.sr-only (current)
                each category in categoriesList
                    li.nav-item.nav-menu
                        a.nav-link.nav-menu-link(href='/' + category.slug)= category.name
                each page in pagesList
                    li.nav-item.nav-menu
                        a.nav-link.nav-menu-link(href='/' + page.slug)= page.title
            div.mt-2.mt-md-0
                a.btn.btn-outline-warning.my-2.my-sm-0.upload-post(href='/upload')
                    i.fa.fa-cloud-upload(aria-hidden='true')  Đăng tin miễn phí