extends ../layouts/main
block header_css
    link(href="/front-end/vendor/select2/select2.min.css", type="text/css", rel="stylesheet")
    link(href="/front-end/vendor/css/bootstrap-datepicker.min.css", type="text/css", rel="stylesheet")
    style.
        .form-control {
            border-radius: 0;
            padding: .45rem .65rem;
        }
        .select2-container--default .select2-selection--single {
            border : 1px solid rgba(0,0,0,.15)
        }

block content
    .container.marketing
        .row(style="margin-top:60px")
            .container
                form(action = "/upload", method="POST")
                    .form-group.row
                        h3 Nội dung
                    .form-group.row
                        label.col-sm-2.col-form-label(for='position') Địa điểm
                        .col-sm-10
                            select.form-control.select2(name='position')
                                 each province in provinces
                                    option(value=province)= province
                    .form-group.row
                        label.col-sm-2.col-form-label(for='categoryId') Danh mục tin
                        .col-sm-10
                            select.form-control.select2(name='categoryId')
                                 each category in categories
                                    option(value=category._id)= category.name
                    .form-group.row
                        label.col-sm-2.col-form-label(for='receiveAt') Ngày rơi
                        .col-sm-10
                            input.form-control.datepicker(type='text', placeholder='Ngày rơi / nhặt được', name = "receiveAt")

                    .form-group.row
                        label.col-sm-2.col-form-label(for='title') Tiêu đề tin
                        .col-sm-10
                            input.form-control(type='text', placeholder='Tiêu đề tin', name="title")
                    .form-group.row
                        label.col-sm-2.col-form-label(for='content') Nội dung tin
                        .col-sm-10
                            textarea.form-control(type='text', placeholder='Nội dung tin', name="content")

                    .form-group.row
                        h3 Thông tin liên hệ

                    .form-group.row
                        label.col-sm-2.col-form-label(for='fullName') Họ và tên
                        .col-sm-10
                            input.form-control(type='text', placeholder='Họ và tên', name="fullName")
                    .form-group.row
                        label.col-sm-2.col-form-label(for='numberPhone') Số điện thoại
                        .col-sm-10
                            input.form-control(type='text', placeholder='Số điện thoại', name="numberPhone")
                    .form-group.row
                        label.col-sm-2.col-form-label(for='email') Email
                        .col-sm-10
                            input.form-control(type='text', placeholder='Email', name="email")

                    .form-group.row
                        .offset-sm-2.col-sm-10
                            button.btn.btn-primary(type='submit') Đăng tin


block footer_js
    script(src="/front-end/vendor/select2/select2.min.js", type="text/javascript")
    script(src="/front-end/vendor/js/bootstrap-datepicker.min.js", type="text/javascript")
    script.
        $('.select2').select2();
        $('.datepicker').datepicker();
