.row
    .col-lg-3.col-md-6.col-sm-6.margin_10.animated.fadeInLeftBig
        // Trans label pie charts strats here
        .lightbluebg.no-radius
            .panel-body.squarebox.square_boxs
                .col-xs-12.pull-left.nopadmar
                    .row
                        .square_box.col-xs-7.text-right
                            span Bài viết mới
                            #total-new-posts.number
                        i.livicon.pull-right(data-name='pen', data-l='true', data-c='#fff', data-hc='#fff', data-s='70')
    .col-lg-3.col-md-6.col-sm-6.margin_10.animated.fadeInUpBig
        // Trans label pie charts strats here
        .redbg.no-radius
            .panel-body.squarebox.square_boxs
                .col-xs-12.pull-left.nopadmar
                    .row
                        .square_box.col-xs-7.pull-left
                            span Đăng ký email
                            #total-new-email.number
                        i.livicon.pull-right(data-name='mail-alt', data-l='true', data-c='#fff', data-hc='#fff', data-s='70')
    .col-lg-3.col-sm-6.col-md-6.margin_10.animated.fadeInDownBig
        // Trans label pie charts strats here
        .goldbg.no-radius
            .panel-body.squarebox.square_boxs
                .col-xs-12.pull-left.nopadmar
                    .row
                        .square_box.col-xs-7.pull-left
                            span Subscribers
                            #myTargetElement3.number
                        i.livicon.pull-right(data-name='archive-add', data-l='true', data-c='#fff', data-hc='#fff', data-s='70')
    .col-lg-3.col-md-6.col-sm-6.margin_10.animated.fadeInRightBig
        // Trans label pie charts strats here
        .palebluecolorbg.no-radius
            .panel-body.squarebox.square_boxs
                .col-xs-12.pull-left.nopadmar
                    .row
                        .square_box.col-xs-7.pull-left
                            span Registered Users
                            #myTargetElement4.number
                        i.livicon.pull-right(data-name='users', data-l='true', data-c='#fff', data-hc='#fff', data-s='70')
